<h2>Verify your email address</h2>
<p>Hello {{name}},</p>
<p>Welcome to RevoShelf! We're excited to have you on board. Please verify your email address to get started and unlock all features of the platform.</p>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <a href="{{verificationUrl}}" class="button" style="color: #ffffff;">Verify Email Address</a>
    </td>
  </tr>
</table>

<p>If the button doesn't work, you can copy and paste the following link into your browser:</p>
<p style="word-break: break-all; font-size: 14px; color: #71717a;"><a href="{{verificationUrl}}" style="color: #038F78;">{{verificationUrl}}</a></p>

<p>If you didn't create an account with us, you can safely ignore this email.</p>
<p>Best regards,<br>The RevoShelf Team</p>
